.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.content {
  flex: 1;
  display: flex;
  overflow: hidden;
  min-height: 0;
}

.editor-pane {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.preview-pane {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #ffffff;
}

.resize-handle {
  width: 4px;
  background-color: #e1e4e8;
  cursor: col-resize;
  position: relative;
  transition: background-color 0.2s;
}

.resize-handle:hover {
  background-color: #0969da;
}

.resize-handle:active {
  background-color: #0969da;
}
